<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/home.css"/>
    <link rel="stylesheet" href="../static/all.css"/>
    <link id="favicon" rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
	<link rel="stylesheet" href="https://use.typekit.net/ywu3ait.css">
  </head>
  <body>
    <script src="../static/scripts/header.js"></script>
	<img class="logo" alt= "logopic" src="../static/images/vector.svg">
	<img id="text-only-logo" alt= "text" src="../static/images/SoilSense_text.svg">
    <p class= ".tk-montserrat" id="home-text"> Your newest tool for sustainable farming practices.</p>
    <a class="header-link" id="home-entry" href="dataEntry">Enter New Data</a>
    <a class="header-link" id="home-visualizations" href="visualizations">Visualize Data</a>
  </body>
</html> 