<!DOCTYPE html>
<html lang="en">
  <head>
    <title>signup</title>
    <meta http-equiv="Content-Type" contcent="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/signup.css"/>
    <link rel="stylesheet" href="../static/all.css"/>
    <link id="favicon" rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  </head>
  <body>
    <script src='../static/scripts/header.js'></script>
    <p class="signup-text">Sign up for SoilSense</p>
    <a class="google-signup" href="">Sign up with Google</a>
    </div>
    <img id="signup-logo"src="../static/images/SoilSense_both_color.svg">
  </body>
</html>