.visualizations-form {
  display:block;
  margin: 10px auto;  
  width: 320px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  padding:4px;
}
#submit { 
  width:60%;
  background:#669DDC;
  margin:8px;
}